{% extends 'base.html' %}


{% block title %}
Home | Course Confarmation Command
{% endblock title %}



{% block content %}
  
<div class="container">

<div class="alert alert-success m-5 p-3 " role="alert">
    <h4 class="alert-heading">Votre Demande a ete Confirmee  
        <span class="material-symbols-outlined">
            done
            </span>
    </h4>
    <p>Vous Serez Contacte Dans Les 12 Prochaines Heures </p>
    <hr>
    <p class="mb-0">Merci Pour Votre Comprehension</p>
  </div>
</div>

<h1 class="text-white">Merci Pour Votre Comprehension</h1>
<h1 class="text-white">Merci Pour Votre Comprehension</h1>
<h1 class="text-white">Merci Pour Votre Comprehension</h1>
<h1 class="text-white">Merci Pour Votre Comprehension</h1>


{% endblock content %}