{% extends 'base.html' %}
{% block title %}
  Cource | Detail
{% endblock title %}
<style>

.link-muted { color: #aaa; } 
.link-muted:hover { color: #1266f1; }

</style>


{% block content %}
  
<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    
    
            
    
        
    <h1 class="my-4">Les Detail De La Formation <br>
      <small>{{dawrat_detail.title}}</small>
    </h1>
  
    <!-- Portfolio Item Row -->
    <div class="row">
  
      <div class="col-md-8">
        <img class="img-fluid" src="{{dawrat_detail.photo_url}}" alt="">
      </div>
  
      <div class="col-md-4">
        <h3 class="my-3">Description</h3>
        <p>{{dawrat_detail.description_detail}}</p>
        <h3 class="my-3">Programme De La Formation</h3>
        <ul>
            {{dawrat_detail.description}}

        </ul>
      </div>
  
    </div>
    <!-- /.row -->
    
    <!-- Related Projects Row -->
    <h3 class="my-4 mb-5 m-4"> cours qui pourraient vous interesser </h3>
  
    <div class="row">
  
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="{% url 'course' %}">
              <img class="img-fluid" src="https://imgs.search.brave.com/kEfK-JI6bRXvfZS9nTgF7XgtSyPwrAMb3mdzVEheq8c/rs:fit:1200:840:1/g:ce/aHR0cHM6Ly9zdGF0/aWMyLm1ha2V1c2Vv/ZmltYWdlcy5jb20v/d29yZHByZXNzL3dw/LWNvbnRlbnQvdXBs/b2Fkcy8yMDE2LzA5/L2phdmFzY3JpcHQt/dWRlbXktY291cnNl/cy5qcGc" alt="">
            </a>
      </div>
  
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="{% url 'course' %}">
              <img class="img-fluid" src="https://imgs.search.brave.com/drTUg1ekp-lJDicbUz2rPxhnqTWKnFusG_thZRhqXEQ/rs:fit:1140:225:1/g:ce/aHR0cHM6Ly90c2Uz/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC43/MXVDUnEzOGIwTzZZ/d05sWlo1U21nSGFE/RiZwaWQ9QXBp" alt="">
            </a>
      </div>
  
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="{% url 'course' %}">
              <img class="img-fluid" src="https://imgs.search.brave.com/49J3kh2Q9uWXoTBNMpo7DzAedHaj4hcQRRB_lEL_24g/rs:fit:1123:225:1/g:ce/aHR0cHM6Ly90c2Uy/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5p/MGY1NWNTa09ZUi15/ODFEUUs5V0VRSGFE/SSZwaWQ9QXBp" alt="">
            </a>
      </div>
  
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="{% url 'course' %}">
              <img class="img-fluid" src="https://imgs.search.brave.com/NpdviJbxEtZA-ltdzB7qRPFgEoDtJmRXjSkIK534tE0/rs:fit:913:225:1/g:ce/aHR0cHM6Ly90c2Uz/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5q/RUsxUllhZUUzQ2ZV/ZG5XTkNEYm5nSGFE/MiZwaWQ9QXBp" alt="">
            </a>
      </div>
  
    </div>
    <!-- /.row -->
  
  </div>
  <!-- /.container -->
<!--==========================================================================-->

  <h2 class="p-5">- Les dernier commentaires </h2>

<section style="background-color: #ffffff;">
  <div class="container my-2 py-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12 col-lg-10">
        <div class="card text-dark">
          <div class="card-body p-4">
            <h4 class="mb-0">Quelques Avis D'utilisateurs</h4>
            <p class="fw-light mb-4 pb-2">Dernier commentaires</p>

            <div class="d-flex flex-start">
              <img class="rounded-circle shadow-1-strong me-3"
                src="https://imgs.search.brave.com/GsXLLWtl6G6Oav0fQvQhEZ7dhx2H-NBTOiobwpY9eLA/rs:fit:476:225:1/g:ce/aHR0cHM6Ly90c2Uy/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5W/UkhjT2dXdjJaZ1ph/eF96U3ZyYUF3SGFI/WSZwaWQ9QXBp" alt="avatar" width="60"
                height="60" />
              <div>
                <h6 class="fw-bold p-3 mb-1">admin</h6>
                <div class="d-flex align-items-center mb-3">
                  <p class="mb-0">
                    Samedi 11, 02
                    <span class="badge bg-success">Admin</span>
                  </p>
                  <a href="#!" class="link-muted"><i class="fas fa-pencil-alt ms-2"></i></a>
                  <a href="#!" class="link-muted"><i class="fas fa-redo-alt ms-2"></i></a>
                  <a href="#!" class="link-muted"><i class="fas fa-heart ms-2"></i></a>
                </div>
                <p class="mb-0">
                  Iconify gives you freedom to choose icons, while using same open source icon components and tools.
                    Visit Iconify website to learn more about the project
                </p>
              </div>
            </div>
          </div>

            
          {% for coms in com %}
              
          <hr class="my-0" />

          <div class="card-body p-4">
            <div class="d-flex flex-start">
              <img class="rounded-circle shadow-1-strong me-3"
                src="https://imgs.search.brave.com/ZMJJr-X4-Jj-MA318eyYuNYSrXaUVEMtIUw_DRjzv6Q/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly93d3cu/b21ndGIuY29tL3dw/LWNvbnRlbnQvdXBs/b2Fkcy8yMDIxLzA0/LzYyMF9OQzR4TmpF/LTEtc2NhbGVkLmpw/Zw" alt="avatar" width="60"
                height="60" />
              <div>
                <h6 class="fw-bold p-2 mb-1">{{coms.name}}</h6>
                <div class="d-flex align-items-center mb-3">
                  <p class="mb-0">
                    {{coms.date|date:'d-m-Y'}}
                    <span class="badge bg-primary">Utilisateur</span>
                  </p>
                  <a href="#!" class="link-muted"><i class="fas fa-pencil-alt ms-2"></i></a>
                  <a href="#!" class="text-success"><i class="fas fa-redo-alt ms-2"></i></a>
                  <a href="#!" class="link-danger"><i class="fas fa-heart ms-2"></i></a>
                </div>
                <p class="mb-0">
                  {{coms.text_comment}}
                </p>
              </div>
            </div>
          </div>

          <hr class="my-0" style="height: 1px;" />
          {% endfor %}



        </div>
      </div>
    </div>
  </div>
</section>

<!--=======================================Add Comment=============================-->

<div class="container">

<h2 class="p-4 mb-5 ">- ajoutez un commentaire </h2>
  <form method="post">

    {% csrf_token %}

    <div class="form-group">
      <label for="exampleFormControlInput1">Email address</label>
      <input type="email" class="form-control" id="email_id" name='email' placeholder="example@example.com">
    </div>

    <div class="form-group">
      <label for="exampleFormControlTextarea1">Nom</label>
      <input class="form-control" name="name" id="name_id"></input>
    </div>

    <div class="form-group">
      <label for="exampleFormControlTextarea1">commentaire</label>
      <textarea name="comment" placeholder="Ecrivez Votre Experience....." class="form-control" id="comment_id" rows="3"></textarea>
    </div>


        <button class="btn btn-primary  mt-3" type="submit">Ajoutez</button>
        
  </form>

  
</div>

{% endblock content %}