{% extends 'base.html' %}

{% block title %}Home | Course{% endblock title %}







{% block content %}


<form method="get" class="form-inline   m-5">




  <div class="form-group">
    <input type="search" style="width: 1280px; border-radius: 30px 0px 0px 30px; border-color:  rgb(51, 167, 225);" class="form-control" name="bbw" id="in" aria-describedby="emailHelp" placeholder="recharche un formation">
    <button type="submit" style="border-radius: 0px 30px 30px 0px ; border-color: rgb(51, 167, 225); transition: 0.3s;" class="btn btn-outline-primary" id="is">Recharche</button>

  </div>



</form>



<div class="collapse bg-primary" id="navbarHeader">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-7 py-4">
        <h4 class="text-white">About</h4>
        <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
      </div>
      <div class="col-sm-4 offset-md-1 py-4">
        <h4 class="text-white">Contact Nout</h4>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Follow on Twitter</a></li>
          <li><a href="#" class="text-white">Like on Facebook</a></li>
          <li><a href="#" class="text-white">Email me</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>!  </strong> Pour Plus D'ainformation Contactez Nous Sur | 0791167987 .
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

    
    <p class=" text-center">
      <a class="btn btn-outline-info mt-4" href="mailto:dawra0dawra@gmail.com">Contactez Nous Par Email</a>          
      <a  class="btn btn-outline-info mt-4"  href="tel:+213791167987">Contactez Nous Par WhatsApp</a>   
    </p>
  


  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">


        
        {% for dawrats in dawrat %}
          
        
        <div class="col-md-4  " style="width: 18rem;">
          <div class="card mb-4 shadow-sm">
            <img src="{{dawrats.photo_url}}" class="bd-placeholder-img card-img-top" style="height: 10rem; flex-wrap: nowrap;" alt="">
            <div class="card-body">
              <h4>{{dawrats.title}}</h4>
              <p class="card-text text-secondary">{{dawrats.description}}</p>
              <p class="card-text text-info">prix: {{dawrats.price}} DA</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{% url 'detail' dawrats.id %}"><button type="button"  class="btn btn-sm btn-outline-secondary">Detail</button></a>
                  <a href="{% url 'command' %}"><button type="button" class="btn btn-sm btn-outline-secondary">Participer</button></a>
                </div>
                <small class="text-muted">{{dawrats.date|date:'d-m-Y'}}</small>
              </div>
            </div>
          </div>
        </div>


        {% endfor %}


     
      </div>
    </div>
  </div>

</main>

{% if dawrat.has_other_pages %}
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center m-4">

    {% if dawrat.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{dawrat.previous_page_number}}">Precedent</a>
    </li>
    {% endif %}

    {% for i in dawrat.paginator.page_range %}
      <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
    {% endfor %}
    {% if dawrat.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{dawrat.next_page_number}}">Suivant</a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}




{% endblock content %}




  







