{% extends "base.html" %}


{% block title %}
  Home | Plus Info
{% endblock title %}


{% block content %}
  




  
<main role="main" class="flex-shrink-0">
    <div class="container">
      <h1 class="mt-5">Pour Plus D'informations Contactez Nous</h1>
      <p class="lead"><a href="tel:+213">Appelez Sur 0791167987</a></p>
      <a class="py-2 m-3 d-none d-md-inline-block btn btn-outline-info p-2" href="mailto:dawra0dawragmail.com">Contactez Nous Par Email</a>
     
    </div>
  </main>



  {% endblock content %}